.custom-button {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.button-header {
    color: #00003C;
}

.button-sidenav {
    color: white;
}