.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: blue;
    z-index: 1000;
    padding: 0.5rem;
}

.container-header-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}