.button-genre {
    background-color: brown;
    border-radius: 20px;
    width: 6rem;
    height: 2.5rem;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: left;
}

.genre-container {
    width: 30%;
    padding: 0.5rem;
}