.container-sidenav {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    background-color: blue;
    position: sticky;
    top: 0;
    align-self: flex-start;
}