.container-sidenav {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #1DD2AF;
    position: sticky;
    top: 0;
    padding: 1rem;
    align-self: flex-start;
}