.movie-list {
    width: 100%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.img-movie {
    border-radius: 25;
}